# .env
# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=auth_db
DB_USER=auth_user
DB_PASSWORD=S3cr3tP@ssw0rd!2026

# Postgres container variables
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=S3cr3tP@ssw0rd!2026
POSTGRES_DB=auth_db

# Redis
REDIS_PASSWORD=verystrongredispassword2026
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0

# Application settings
SECRET_KEY=ac5ba9973cf43df2b0de482e0d9ea4520430646dd65a92630d7feac9d1b66ac5
ADMIN_PASSWORD=VeryStrongAdminPass!2026
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=1